@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    padding: 20px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e9e5e5;
}


.right {
    display: flex;
}

.right a {
    text-decoration: none;
    font-size: 24px;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: rgb(223, 80, 80);
    cursor: pointer;
    margin-right: 15px;
}

.logo img {
    list-style: none;
    width: 150px;
    height: auto;
}

.right img{height: auto;
width: 120px;
margin-top: -8px;
margin-left: 30px;
}

.right a:hover {
    color: rgb(97, 21, 21);
}