* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    padding: 25px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px;
    background-color: #e9e5e5;
    cursor: pointer;
}

#icon1 {
    margin-left: -100px;
}

#icon2 {
    margin-left: 20px;
}

#icon3 {
    margin-left: 20px;
}


.logo {
    margin-left: -700px;
}


.right {
    display: flex;
    align-items: center;
}


.right a {
    text-decoration: none;
    font-size: 24px;
    text-transform: capitalize;
    color: rgb(201, 75, 75);
    cursor: pointer;
    margin-right: 15px;
}

.logo img {
    list-style: none;
    width: 150px;
    height: auto;
}

.right button {
    font-size: 20px;
    padding: 7px;
    border-radius: 25px;
    cursor: pointer;
}

.right a:hover {
    color: rgb(97, 21, 21);
}

.right button:hover {
    box-shadow: 0 0 3px black;
}